server {
        listen 80 default_server;
        root /var/www/{{ http_host }}/wordpress;
        index index.php index.html index.htm index.nginx-debian.html;
        server_name {{ http_host }};

        set $domain_name {{ http_host }};
        if ($http_host != $domain_name) {
                return 403;
        }

        client_max_body_size 30m;
        include /etc/nginx/snippets/letsencrypt-acme-challenge.conf;
        location / {
               # try_files $uri $uri/ =404;
try_files $uri $uri/ /index.php$is_args$args;
        }

        location ~ \.php$ {
                include snippets/fastcgi-php.conf;
                fastcgi_intercept_errors on;
                fastcgi_pass unix:/var/run/php/php-fpm.sock;
        }

        location ~* \.md$ {
                deny all;
                return 403;
        }

        location ~ /\.ht {
                deny all;
        }

        location ~* \.(css|gif|ico|jpeg|jpg|js|png)$ {
                expires max;
                log_not_found off;
        }

        # Global restrictions configuration file.
        location = /favicon.ico {
                log_not_found off;
                access_log off;
        }

        location = /robots.txt {
                allow all;
                log_not_found off;
                access_log off;
        }

        # Deny all attempts to access hidden files such as .htaccess, .htpasswd, .DS_Store (Mac).
        # Keep logging the requests to parse later (or to pass to firewall utilities such as fail2ban)
        location ~ /\. {
                deny all;
        }

        # Deny access to any files with a .php extension in the uploads directory
        # Works in sub-directory installs and also in multisite network
        # Keep logging the requests to parse later (or to pass to firewall utilities such as fail2ban)
        location ~* /(?:uploads|files)/.*\.php$ {
                deny all;
        }

        # SSH settings below here
}